freeGPT
webscout
pillow
ollama
requests
packaging
customtkinter
huggingface_hub
pystray
pygame
google-api-python-client
google-generativeai
lxml[html_clean]
opencv-python
numpy
pytesseract
lxml_html_clean
psutil
colorlog
yaspin
keyboard
gradio_client
SpeechRecognition
pyaudio
jinja2
pygetwindow
uvicorn
asyncio
fastapi