playsound==1.2.2
webscout
pillow
ollama
requests
packaging
customtkinter
huggingface_hub
pystray
pygame
google-api-python-client
google-generativeai
lxml[html_clean]
opencv-python
numpy
pytesseract
lxml_html_clean
psutil
colorlog
yaspin
keyboard
gradio_client
SpeechRecognition
pyaudio
jinja2
pygetwindow
uvicorn
asyncio
fastapi
pyttsx3
aiohttp
fake_useragent
colorama
python-docx
openpyxl
odfpy
antiword
python-dotenv
pyzbar